<!-- <a href="/login"
  style="display: inline-block; font-size: larger;padding: 10px 20px; background-color: #ed671e; color: white; text-decoration: none; border-radius: 5px; font-weight: bold; text-align: center; margin-top: 40px;">
  Logout
</a> -->
<a 
  (click)="logout()"
  style="display: inline-block; font-size: larger; padding: 10px 20px; background-color: #ed671e; color: white; text-decoration: none; border-radius: 5px; font-weight: bold; text-align: center; margin-top: 40px; cursor: pointer;">
  Logout
</a>
